footer.text-muted
  .container
    p.float-right
      a(href="#") Back to top
    p 본 게임의 저작권은 없습니다. 무단 사용하셔도 무방합니다
//    p New to Bootstrap? #[a(href="https://getbootstrap.com/") Visit the homepage] or read our #[a(href="https://getbootstrap.com/docs/4.4/getting-started/introduction/") getting started guide].