section.jumbotron.text-center
    .container
        h1 데스노트 게임 안내
        p.lead.text-muted 키라측과 엘측으로 팀을 나누고, 엘측은 키라를 체포 / 키라측은 엘과 니아를 살인하면 승리하는 게임입니다.

        h2 봇으로 바로 연결: #[a(href="https://t.me/bs_Nacho_bot") 클릭 ] 
        //- p
        //-   a.btn.btn-primary.m-2(href="#") Main call to action
        //-   a.btn.btn-secondary.m-2(href="#") Secondary action
          