extends layout.pug
include mixins/_thumbCard

block content
  .album.py-5.bg-light
    .container
        h1 [기본 룰 안내]]
        h4.lead.text-muted 1. 
        h4.lead.text-muted 1. 엘
        h4.lead.text-muted 1. 엘
        h3 [캐릭별 사용법 안내]
        h4.lead.text-muted 1. 엘
        p &nbsp a. 키라체포:  
        p 
          //- a.btn.btn-primary.m-2(href="#") Main call to action
          //- a.btn.btn-secondary.m-2(href="#") Secondary action
